<html>
	<head>
		<style>
			body{
				margin: 0;
				color: #666;
				line-height: 30px;
			}
			#header-menu{
				height:50px;
				box-shadow:0px 0px 10px rgba(0,0,0,0.1)
			}
			#title-block{
				height: 200px;
				background: #67AEEC
			}
			#main-area{
				width: 980px;
				float: left;
			}
			#side-barSS{
				backgroudn: #F2F2F2
				width: 200px;
				float: right;
				height:500px;
			}
			.container{
				max-width: 1200px;
				margin: auto
			}
		</style>
	</head>
	<body>
		<header>
			<div id="header-menu">
				<div class="container"></div>
			</div>
			<div id="title-block">
				<div class="container"></div>
			</div>
		</header>
		<div id="page" class="container">
			<div id="main-area">
			{{ content }}
			</div>
			<div id="side-barSS">
			</div>
		</div>
		<footer>
		</footer>
	</body>
</html>