---
layout: default
---

<div class="post-card">
	{% comment %}判断文章有无头图，若无使用默认{% endcomment %}
	{% unless page.hpurl %} 
		{% assign hpurl = site.defaulthpurl %}
	{% else %}
		{% assign hpurl =  page.hpurl %}
	{% endunless %}	
	<!-- ↓↓设置头图 -->
	<div class="post-img"><img class="godark"src="{{ hpurl }}"/><div class="post-info">{{ page.date | date: "%Y.%m.%d" }}, {{ page.categories }} </div><h3 class="page-title">{{ page.title }}</h3></div>
	<div class="post-card-content">
		<div>{{ page.content }}</div>
		{% include comments.html %}
	</div>
</div>